#root {
  margin: 1rem;
  padding: 0;
  
}



/* App.css */
.custom-background {
  
  background-color: hsl(180, 17%, 93%); /* cor de exemplo: um azul claro */
  padding: 0px; /* Adiciona espaçamento interno */
  border-radius: 10px; /* Adiciona cantos arredondados */


} 

