#root {
  
  margin: 0 auto;
  padding: 0;
  background-color:ghostwhite
}



/* App.css */
.custom-background {
  
  background-color: #f0f8ff; /* cor de exemplo: um azul claro */
  padding: 20px; /* Adiciona espaçamento interno */
  border-radius: 10px; /* Adiciona cantos arredondados */


} 
